body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to top, #000, #434343, #000);
    color: white;
}

@media (max-width: 768px) {
    body {
        background-position: center;
    }
}